<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center text-white">
    <div class="text-center">
        <h1 class="my-font-bold">Smart Contact Manager</h1>
        <p class="container">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="btn my-bg-color btn-lg">Get Started</button>
    </div>
</section>
</body>
</html>